/* Application styles */

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 3px 9px;
}

.font-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-italic {
  font-style: italic;
}

.box {
  @apply .text-center;
}
